/*
 * @author Keanu Stückrad
 */

.gridpane-size {
    -fx-pref-width: 220;
    -fx-max-width: 220;
    -fx-min-width: 220;
    -fx-pref-height: 70;
    -fx-max-height: 70;
    -fx-min-height: 70;
}

.label.progress {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}