@import "/ui/dark-theme.css";

.icon-button {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-padding: 0;
    -fx-effect: -shadow;
}

.button {
    -fx-background-color: -primary-background-color;
}

.button:hover {
    -fx-background-color: -primary-lighter-background-color;
}