@import "/ui/dark-theme.css";

/*
 * @author Keanu Stückrad
 */

.title {
    -fx-font-family: Retronoid;
    -fx-font-size: 160px;
    -fx-effect: -shadow;
}

.subtitle {
    -fx-font-family: Black;
    -fx-font-size: 80px;
    -fx-effect: -shadow;
}