@import "/de/uniks/se19/team_g/project_rbsg/stylesheets/dark-theme.css";

.player-card {
    -fx-max-height: 100;
    -fx-max-width: 350;
    -fx-min-height: 100;
    -fx-min-width: 350;
    -fx-border-color: #000000;
}

.chat {
    -fx-border-color: #000000;
}

.mini-game-stack-pane {
    -fx-min-width: 350;
    -fx-max-width: 350;
    -fx-border-color: #000000;
}

.mini-game-pane {
    -fx-border-color: #000000;
}

.map-preview-pane {
    -fx-max-width: 290;
    -fx-max-height: 290;
    -fx-min-width: 290;
    -fx-min-height: 290;
    -fx-border-color: #000000;
}

.default-button {

}

/*

.default-progress-indicator .percentage {
    -fx-fill: null;
}

.default-progress-indicator {
    -fx-min-width: 55;
    -fx-min-height: 55;
}

*/
