@import "/ui/dark-theme.css";

.icon-button {
    -fx-border-color: #88588c;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0.2, 0, 0);
}

.icon-button:hover {
    -fx-background-color: #bb86fc;
}