@import "/ui/dark-theme.css";

/*
 * @author Keanu Stückrad
 */

.icon-button {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-padding: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0.2, 0, 0); /*Platzhalter: need constant of stylesheet*/
}

.info-label {
    -fx-text-fill: #ffffff; /*Platzhalter: need constant of stylesheet*/
    -fx-font-size: 16pt;
    -fx-font-family: Roboto-Regular;
}

.unit-property-list-info-box {
    -fx-max-height: 320;
    -fx-max-width: 600;
    -fx-background-color: rgba(18, 18, 18, 0.8); /*Platzhalter: need constant of stylesheet*/
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0.2, 0, 0); /*Platzhalter: need constant of stylesheet*/
}

.scroll-pane.default,
.scroll-pane.default * {
    -fx-fit-to-width: true;
    -fx-background-color: transparent;
}

.scroll-pane-default .thumb {
    -fx-background-color: #424242;
}

.scroll-pane-default .scroll-bar {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: #88588c; /*Platzhalter: need constant of stylesheet*/
}

.button:hover {
    -fx-background-color: #bb86fc; /*Platzhalter: need constant of stylesheet*/
}