/*
 * @author Goatfryed
 */

.unitPropertyContainer {
    -fx-border-color: -default-border-color;
    -fx-border-width: 2px;
    -fx-min-height: 80;
    -fx-min-width: 160;
}

.army-scene-content {
    -fx-border-color: -default-border-color;
}

.list-view.armies-list .scroll-bar .increment-arrow,
.list-view.armies-list .scroll-bar .decrement-arrow,
.list-view.armies-list .scroll-bar .increment-button,
.list-view.armies-list .scroll-bar .decrement-button {
    -fx-padding:0;
}

.unitPropertyContainer .label.property {
    -fx-text-fill: -on-primary-fill;
    -fx-font-weight: bold;
    -fx-font-family: Roboto;
    -fx-font-size: 40pt;
    -fx-text-alignment: center;
}

.unitPropertyContainer.text-area {
    -fx-text-fill: -default-border-color;
    -fx-font-family: Roboto;
}

.unitPropertyContainer.text-area .content {
    -fx-background-color: -root-background-color;
}


