/*
 * @author Goatfryed
 */

.unitPropertyContainer {
    -fx-border-color: -default-border-color;
    -fx-border-width: 2px;
}

.unitPropertyContainer > .box {
    -fx-padding: 2px;
}

.unitPropertyContainer .label {
    -fx-text-fill: -default-border-color;
    -fx-font-weight: bold;
    -fx-font-family: Roboto;
    -fx-font-size: 24;
    -fx-text-alignment: center;
}

.unitPropertyContainer #propertyIcon {
    -fx-padding: 5;
}

.unitPropertyContainer.text-area {
    -fx-text-fill: -default-border-color;
    -fx-font-family: Roboto;
}

.unitPropertyContainer.text-area .content {
    -fx-background-color: -root-background-color;
}