* {
    -fx-focus-color: transparent; /*temporary until general css is ready*/
    -fx-faint-focus-color: transparent; /*temporary until general css is ready*/
}

.tab-pane {
    -fx-background-color: rgba(18,18,18,0.8);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0.2, 0, 0);

    -fx-border-color: #fff;
    -fx-border-radius: 2;

    -fx-padding: 0;
    -fx-tab-min-width: 100;
}

.tab-pane * {
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
}
.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tab {
    -fx-background-color: #212121;
    -fx-background-radius: 0;

    -fx-focus-traversable: false;

    -fx-padding: 4;
}

.tab:selected {
    -fx-background-color: #424242;
}

.tab .tab-close-button {
    -fx-background-color: red;
}

.tab-label {
    -fx-text-fill: #fff; /*temporary until general css is ready*/

    -fx-alignment: center;
    -fx-font-weight: bold;
}

.messageArea,
.messageArea * {
    -fx-text-fill: #fff; /*temporary until general css is ready*/

    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 2;
}

.scroll-bar .thumb {
    -fx-background-color: #424242;
}

.inputField {
    -fx-text-fill: #fff; /*temporary until general css is ready*/

    -fx-background-color: rgba(255, 255, 255, 0.09);
    -fx-background-radius: 0;

    -fx-padding: 6;
}

.inputField:disabled {
    -fx-background-color: rgba(255, 100, 100, 0.8);
}

.chatChannelContainer {
    -fx-background-color: transparent;
}