* {
    -fx-focus-color: transparent; /*temporary until general css is ready*/
    -fx-faint-focus-color: transparent; /*temporary until general css is ready*/
}

.tab-pane {
    -fx-padding: 0;
    -fx-tab-min-width: 100px;
}

.tab-pane * {
    -fx-border-radius: 0;
    -fx-border-width: 0;
}
.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab {
    -fx-background-color: #212121;
    -fx-background-insets: 0 0 0 1;
    -fx-background-radius: 0;

    -fx-focus-traversable: false;
}

.tab:selected {
    -fx-background-color: #424242;
}

.tab-label {
    -fx-text-fill: #fff; /*temporary until general css is ready*/

    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

.messageArea,
.messageArea * {
    -fx-text-fill: #fff; /*temporary until general css is ready*/

    -fx-background-color: #212121;
    -fx-background-radius: 0;
}

.scroll-bar .thumb {
    -fx-background-color: #424242;
}

.inputField {
    -fx-text-fill: #fff; /*temporary until general css is ready*/

    -fx-background-color: #424242;
    -fx-background-insets: 1 0 1 0;
    -fx-background-radius: 0;
}

.chatChannelContainer {
    -fx-background-color: transparent;
}