.sidebarContainer {
    -fx-spacing: 5;
    -fx-padding: 5 10 5 0;
    -fx-alignment: center;
    -fx-max-width: 210px;
}

.battlefieldContainer {
    -fx-padding: 10;
}

.contentVBox {
    -fx-alignment: center;
}

.actionVBox button {
    -fx-effect:  none;
}

.playerCardBox {
    -fx-padding: 5 0 5 0;
    -fx-alignment: center;
    -fx-background-color: -root-background-color;
}

.roundInfoBox {
    -fx-padding: 5;
}

.name-pane {
    -fx-effect: -shadow;
    -fx-padding: 0 5px 0 5px;
    -fx-background-color: -surface-elevation-2-color;
    -fx-text-fill: -on-primary-fill;
    -fx-font-family: Cinzel;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}