.buttonBox {
    -fx-spacing: 10;
}

.boxSpacing {
    -fx-spacing: 10;
}

.sidebarContainer {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.battlefieldContainer {
    -fx-padding: 10;
}

.contentVBox {
    -fx-padding: 10 0;
    -fx-alignment: center;
}

.actionVBox button {
    -fx-effect:  none;
}