@import "/ui/dark-theme.css";

.gridpane-size {
    -fx-pref-width: 220;
    -fx-max-width: 220;
    -fx-min-width: 220;
    -fx-pref-height: 70;
    -fx-max-height: 70;
    -fx-min-height: 70;
}

.default-progress-indicator .percentage {
    -fx-fill: null;
}

.default-progress-indicator {
    -fx-min-width: 80;
    -fx-min-height: 80;
}