@font-face {
    font-family: 'Retronoid';
    src: url('Fonts/retronoid.otf') format("opentype");
}

@font-face {
    font-family: 'Speedeasy';
    src: url("Fonts/speedeasy.otf") format("opentype");
}

.title {
    -fx-font-family: 'Retronoid';
    -fx-font-size: 160px;
}

.subtitle {
    -fx-font-family: 'Speedeasy';
    -fx-font-size: 80px;
}