/*
 * @author Keanu Stückrad
 */

.player-card.ready {
    -fx-background-color: -selected-background-color;
    -fx-text-fill: -on-hovered-fill;
}

.player-card {
    -fx-max-height: 100;
    -fx-max-width: 350;
    -fx-min-height: 100;
    -fx-min-width: 350;
    -fx-effect: -shadow;
    -fx-background-color: -root-background-color;
    -fx-text-fill: -on-primary-fill;
}

.chat-container {
    -fx-min-height: 350;
    -fx-max-height: 350;
    -fx-effect: -shadow;
}

.mini-game-stack-pane {
    -fx-min-width: 350;
    -fx-max-width: 350;
}

.mini-game-pane {
    -fx-min-width: 300;
    -fx-min-height: 300;
    -fx-max-height: 300;
    -fx-max-width: 300;
    -fx-background-color: -root-background-color;
    -fx-effect: -shadow;
}

.map-preview-pane {
    -fx-max-width: 256;
    -fx-max-height: 256;
    -fx-min-width: 256;
    -fx-min-height: 256;
    -fx-effect: -shadow;
}

.army-pane {
    -fx-max-width: 90;
    -fx-max-height: 540;
    -fx-min-width: 90;
    -fx-min-height: 500;
    -fx-effect: -shadow;
}

.label.player {
    -fx-font-size: 22pt;
}

.label.waiting {
    -fx-font-size: 16pt;
}