/*
 * @author Keanu Stückrad
 *
 * Special thanks to Georg Siebert for the Style-Guide
 *
 * Dark-Theme Stylesheet
 *
 * Info for Usage: Use the constants of * { ... } in your css after importing this stylesheet
 *
 */

/* --- Additional Fonts --- */

@font-face {
    font-family: 'Black';
    src: url("/de/uniks/se19/team_g/project_rbsg/login/Fonts/black.ttf") format("truetype");
}

@font-face {
    font-family: 'Retronoid';
    src: url('/de/uniks/se19/team_g/project_rbsg/login/Fonts/retronoid.otf') format("opentype");
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("/de/uniks/se19/team_g/project_rbsg/lobby/core/ui/Font/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("/de/uniks/se19/team_g/project_rbsg/lobby/core/ui/Font/Roboto/Roboto-Medium.ttf") format("truetype");
}

* {

    /* --- To all nodes --- */

    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;

    /* --- Constants --- */

        /* Font-Size with Font-Family Roboto-Regular */
    -headline-font-size: 26pt;
    -subheader-font-size: 18pt;
    -body-font-size: 16pt;
    -caption-font-size: 14pt;
    /* use -fx-font-family: Roboto-Regular; */

        /* Font-Size with Font-Family Roboto-Medium */
    -title-font-size: 22pt;
    -body2-menu-font-size: 16pt;
    -button-font-size: 16pt;
    /* use -fx-font-family: Roboto-Medium; */

        /* Text-Fill */
    -on-primary-fill: #ffffff; /* Button non-hover */
    -on-secondary-fill: rgba(255, 255, 255, 0.7);
    -on-disabled-fill: rgba(255, 255, 255, 0.3);
    -on-hovered-fill: #000000; /* Button hover */
    /* use -fx-font-weight: bold; to highlight something! */

        /* Background-Colors */
    -root-background-color: rgb(18, 18, 18); /* == #121212 */
    -surface-background-color: rgba(18, 18, 18, 0.8);
    -surface-overlay-background-color: rgba(18, 18, 18, 0.6);
    -primary-background-color: #88588c; /* Button non-hover */
    -primary-lighter-background-color: #bb86fc; /* Button hover */
    -secondary-background-color: #03dac5;
    -selected-background-color: #868cfc;
    -error-background-color: #cf6679;
    -disabled-background-color: #d3d3d3;

        /* Effects */
    -shadow: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0.2, 0, 0);

}
