* {
    -fx-background-radius: 0;
}

.container {
    -fx-background-color: -root-background-color;
    -fx-padding: 10;
    -fx-max-width: 350;
    -fx-max-height: 150;
    -fx-border-color: white;
    -fx-border-width: 2;
}

.label {
    -fx-font-size: 16pt;
    -fx-font-family: Roboto-Regular;
    -fx-font-weight: bold;
    -fx-text-fill: -on-primary-fill;
}