.loginForm{
    -fx-background-color: #121212;
}

.loginForm.errorBox.label{
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: #FD5F00;
}

.loginForm.label{
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.loginForm.text-field{
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 250;
}

