@font-face {
    font-family: 'Retronoid';
    src: url('Fonts/retronoid.otf') format("opentype");
}

@font-face {
    font-family: 'ConnectionSerif';
    src:url("Fonts/ConnectionSerif.woff") format("woff"),
    url("Fonts/ConnectionSerif.ttf") format("truetype"),
    url("Fonts/ConnectionSerif.svg#ConnectionSerif") format("svg");
}

@font-face {
    font-family: 'Black';
    src:url("Fonts/black.ttf") format("truetype");
}

.title {
    -fx-font-family: 'Retronoid';
    -fx-font-size: 160px;
}

.subtitle {
    -fx-font-family: 'Black';
    -fx-font-size: 100px;
}