@font-face {
    font-family: 'Retronoid';
    src: url('Fonts/retronoid.otf') format("opentype");
}

@font-face {
    font-family: 'ConnectionSerif';
    src:url("Fonts/ConnectionSerif.eot?") format("eot"),
        url("Fonts/ConnectionSerif.woff") format("woff"),
        url("Fonts/ConnectionSerif.ttf") format("truetype"),
        url("Fonts/ConnectionSerif.svg#ConnectionSerif") format("svg");
    font-weight:normal;
    font-style:normal;
}

.title {
    -fx-font-family: 'Retronoid';
    -fx-font-size: 200px;
}

.subtitle {
    -fx-font-family: 'ConnectionSerif';
    -fx-font-size: 120px;
}