.label {
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
}


/*BUTTON STYLES*/
.button {
    -fx-pref-height: 40px;
    -fx-pref-width: 100px;

    -fx-background-color: #121212;
    -fx-border-color: #bb86fc;

    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-background-radius: 0;

    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-background-color: #bb86fc;
    -fx-text-fill: #000000;
    /*-fx-opacity: 0.8;*/
}

.iconButton {
    -fx-pref-width: 40px;
    -fx-pref-width: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-padding: 0;
}

.iconButton .iconView {

}

/*BUTTON STYLES*/


.optionsHboxContainer {
    -fx-alignment: CENTER_RIGHT;
}

.optionsHboxContainer .button {
    -fx-margin: 0 5 0 0;
}

.mainGridPane {

    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.body {
    -fx-padding: 10;
    -fx-background-color: #121212;
}

.gameTitle {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

/*LIST VIEW STYLE*/
.list-view {
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0;
    -fx-border-radius: 4;
    -fx-background-color: #121212;
    -fx-background-radius: 4;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.list-cell {
    -fx-background-color: #121212;
    -fx-background-radius: 4;
    /*-fx-border-color: #FFFFFF;*/
    -fx-border-width: 0;
}

/*.list-cell:even {*/
/*    -fx-background-color: #000000;*/
/*    !*-fx-border-color: #FFFFFF;*!*/
/*    -fx-border-width: 0;*/
/*}*/

.list-cell:hover {
    -fx-background-color: #000000;

}
/*LIST VIEW STYLE*/

/*GAME CELL STYLE*/
.gameCell {
    -fx-hgap: 10;
    -fx-padding: 4;
}


.gameListChatGrid {
    -fx-vgap: 10;
}
/*GAME CELL STYLE*/

/*PLAYER CELL STYLE*/
.playerCell {
    -fx-hgap: 10;
}
/*PLAYER CELL STYLE*/