/*
 * @author Keanu Stückrad
 *
 * Special thanks to Georg Siebert for the Style-Guide
 *
 * Dark-Theme Stylesheet
 *
 * Info for Usage: Use the constants of * { ... } in your css after importing this stylesheet
 *                 Use the -fx-font-size: and -fx-font-family: values from the comments
 *
 */

/* --- Additional Fonts --- */

@font-face {
    font-family: 'Black';
    src: url("/assets/fonts/black.ttf") format("truetype");
}

@font-face {
    font-family: 'Retronoid';
    src: url('/assets/fonts/retronoid.otf') format("opentype");
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("/assets/fonts/robotoRegular.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("/assets/fonts/robotoMedium.ttf") format("truetype");
}

* {

    /* --- To all nodes --- */

    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

* {
    /* --- Constants --- */

        /* Font-Size with Font-Family Roboto-Regular */
    /* Use: -fx-font-size:
    Headline: 26pt
    Subheader: 18pt
    Body: 16pt
    Caption: 14pt
    and use -fx-font-family: Roboto-Regular; */

        /* Font-Size with Font-Family Roboto-Medium */
    /* Use: -fx-font-size:
    Title 22pt
    Body 2 bzw. Menu 16pt
    Button 16pt
    and use -fx-font-family: Roboto-Medium; */

        /* Text-Fill */
    -on-primary-fill: #ffffff; /* Button non-hover */
    -on-secondary-fill: rgba(255, 255, 255, 0.7);
    -on-secondary-fill-2: rgba(255, 255, 255, 0.6);
    -on-disabled-fill: rgba(255, 255, 255, 0.3);
    -on-hovered-fill: #000000; /* Button hover */
    /* use -fx-font-weight: bold; to highlight something! */

        /* Background-Colors */
    -root-background-color: rgb(18, 18, 18); /* == #121212 */
    -surface-elevation-color: #ffffff; /* only for elevation 2 und 8 used with opacity! */
    -surface-elevation-2-color: rgba(255, 255, 255, 0.07);
    -surface-elevation-8-color: rgba(255, 255, 255, 0.13);
    -surface-elevation-8-color-abs: rgb(45, 45, 45);
    -primary-background-color: #88588c; /* Button non-hover */
    -primary-lighter-background-color: #bb86fc; /* Button hover */
    -secondary-background-color: #03dac5;
    -secondary-color-darker: #039b86;
    -selected-background-color: #868cfc;
    -error-background-color: #cf6679;
    -disabled-background-color: #d3d3d3;

        /* Effects */
    -shadow: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0.2, 0, 0);
    -default-border-color: #ffffff;

}

/*------------------Background------------------*/

.elevation-2 {
    -fx-background-color: -surface-elevation-2-color;
}

.elevation-8 {
    -fx-background-color: -surface-elevation-8-color;
}

.root-background-color {
    -fx-background-color: -root-background-color;
}

/*------------------Button------------------*/

.button.icon-with-text {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-max-height: 50px;
    -fx-min-height: 50px;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-effect: -shadow;
    -fx-background-color: -primary-background-color;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: -on-primary-fill;
}

.button.icon-with-text:hover {
    -fx-background-color: -primary-lighter-background-color;
    -fx-text-fill: -on-hovered-fill;
}

.button.icon-with-text:disabled {
    -fx-background-color: -disabled-background-color;
    -fx-opacity: 100;
    -fx-text-fill: -on-primary-fill;
}

.button.icon-button {
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-effect: -shadow;
    -fx-background-color: -primary-background-color;
}

.button.icon-button:hover {
    -fx-background-color: -primary-lighter-background-color;
}

.button.icon-button:disabled {
    -fx-background-color: -disabled-background-color;
}

.button.icon-button-big {
    -fx-min-height: 80px;
    -fx-min-width: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-effect: -shadow;
    -fx-background-color: -primary-background-color;
}

.button.icon-button-big:hover {
    -fx-background-color: -primary-lighter-background-color;
}

.button.icon-button-giant {
    -fx-min-height: 200px;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-max-height: 200px;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-effect: -shadow;
    -fx-background-color: -primary-background-color;
}

.button.icon-button-giant:hover {
    -fx-background-color: -primary-lighter-background-color;
}

.button.icon-button-giant:disabled {
    -fx-background-color: -disabled-background-color;
    -fx-opacity: 100;
}

.button.disable-button {
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-effect: -shadow;
    -fx-background-color: -primary-background-color;
    -fx-text-fill: -on-primary-fill;
}

.button.disable-button:hover {
    -fx-background-color: -primary-lighter-background-color;
    -fx-text-fill: -on-hovered-fill;
}

.button.disable-button:disabled {
    -fx-effect: -shadow;
    -fx-background-color: -selected-background-color;
    -fx-opacity: 100;
    -fx-text-fill: -on-hovered-fill;
}

.button.default-button:hover{
    -fx-background-color: -primary-lighter-background-color;
    -fx-text-fill: -on-hovered-fill;
}

.button.default-button {
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-effect: -shadow;
    -fx-background-color: -primary-background-color;
    -fx-text-fill: -on-primary-fill;
}

.button.rally-troops {
    -fx-content-display: right;
    -fx-graphic-text-gap: 10px;
}
.button.rally-troops:hover {
    -fx-content-display: right;
    -fx-graphic-text-gap: 10px;
}

/*------------------Label------------------*/

.label.default {
    -fx-font-size: 16pt;
    -fx-text-fill: -on-primary-fill;
    -fx-font-family: Roboto-Regular;
}

.label.default-medium {
    -fx-font-size: 16pt;
    -fx-text-fill: -on-primary-fill;
    -fx-font-family: Roboto-Medium;
}

.label.error {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: -error-background-color;
    -fx-font-family: Roboto-Medium;
}

.label.army {
    -fx-font-size: 26pt;
    -fx-text-fill: -on-primary-fill;
    -fx-font-family: Roboto-Medium;
}

.label.header-2 {
    -fx-font-size: 32pt;
    -fx-text-fill: bold;
    -fx-font-family: Roboto-Medium;
}

.label.title {
    -fx-font-family: Retronoid;
    -fx-opacity: 100;
    -fx-font-size: 160px;
    -fx-effect: -shadow;
    -fx-text-fill: -on-secondary-fill-2;
}

.label.subtitle {
    -fx-font-family: Black;
    -fx-font-size: 80px;
    -fx-effect: -shadow;
    -fx-text-fill: -on-secondary-fill-2;
}

/*------------------ProgressIndicator------------------*/

.progress-indicator.default .percentage {
    -fx-fill: null;
}

.progress-indicator.default {
    -fx-progress-color: -primary-background-color;
    -fx-effect: -shadow;
    -fx-min-width: 80;
    -fx-min-height: 80;
}

/*------------------ListView------------------*/

.list-view.default,
.list-view.default-horizontal {
    -fx-background-color: transparent;
    -fx-effect: -shadow;
    -fx-border-color: -default-border-color;
    -fx-border-width: 0;
}

.list-view.transparent {
    -fx-background-color: -root-background-color;
    -fx-effect: -shadow;
    -fx-border-color: -default-border-color;
    -fx-border-width: 0;
}

.list-view:focused {
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-effect: -shadow;
}

/*------------------ListCell------------------*/

.list-view.default .list-cell,
.list-view.transparent .list-cell {
    -fx-border-width: 0;
    -fx-opacity: 0.8;
    -fx-padding: 5 0 5 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0px, 5px ;
}

.list-view.default-horizontal .list-cell {
    -fx-border-width: 0;
    -fx-opacity: 0.8;
    -fx-padding: 0 5 0 5;
    -fx-background-color: transparent;
    -fx-background-insets: 0px, 5px ;
}

.list-view.default .list-cell:empty:hover,
.list-view.transparent .list-cell:empty:hover,
.list-view.default-horizontal .list-cell:empty:hover {
    -fx-background-color: transparent;
}

.list-view.default .list-cell:filled:hover {
    -fx-background-color: transparent, rgba(189, 189, 189, 0.51);
    -fx-background-insets: 0px, 5 0 5 0 ;
    -fx-opacity: 1;
}

.list-view.transparent .list-cell:hover {
    -fx-background-color: transparent;
    -fx-opacity: 1;
}

.list-view.default-horizontal .list-cell:hover {
    -fx-background-color: transparent, rgba(189, 189, 189, 0.51);
    -fx-background-insets: 0px, 0 5 0 5 ;
    -fx-opacity: 1;
}

.list-view.default  .list-cell:selected {
    -fx-background-color: transparent, rgba(115, 115, 115, 0.51);
    -fx-background-insets: 0px, 5 0 5 0 ;
}

.list-view.default-horizontal  .list-cell:selected {
    -fx-background-color: transparent, rgba(115, 115, 115, 0.51);
    -fx-background-insets: 0px, 0 5 0 5 ;
}

.list-view.transparent  .list-cell:selected {
    -fx-background-color: transparent;
}

/*------------------ListView-ScrollBar------------------*/

.list-view .scroll-bar {
    -fx-background-color: transparent;
}

/*------------------ListView-De/Increment------------------*/

.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.list-view .scroll-bar .increment-button:hover,
.list-view .scroll-bar .decrement-button:hover {
    -fx-background-color: transparent;
}


.list-view .scroll-bar .increment-button:hover .increment-arrow,
.list-view .scroll-bar .decrement-button:hover .decrement-arrow {
    -fx-stroke: 3px;
    -fx-background-color: -default-border-color;
    -fx-effect: none;
}

.list-view  .scroll-bar .increment-arrow,
.list-view  .scroll-bar .decrement-arrow {
    -fx-stroke: 3px;
    -fx-background-color: -default-border-color;
    -fx-effect: none;

}


.list-view.noVerticalScroll .scroll-bar:vertical .increment-arrow,
.list-view.noVerticalScroll .scroll-bar:vertical .decrement-arrow,
.list-view.noVerticalScroll .scroll-bar:vertical .decrement-button,
.list-view.noVerticalScroll .scroll-bar:vertical .decrement-button,
.list-view.noVerticalScroll .scroll-bar:vertical,
.list-view.noVerticalScroll .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-padding: 0px;
}

.list-view.noHorizontalScroll .scroll-bar:horizontal .increment-arrow,
.list-view.noHorizontalScroll .scroll-bar:horizontal .decrement-arrow,
.list-view.noHorizontalScroll .scroll-bar:horizontal .decrement-button,
.list-view.noHorizontalScroll .scroll-bar:horizontal .decrement-button,
.list-view.noHorizontalScroll .scroll-bar:horizontal,
.list-view.noHorizontalScroll .scroll-bar:horizontal {
    -fx-scale-x: 0;
    -fx-padding: 0px;
}

.list-view.arrowsHidden .scroll-bar .increment-arrow,
.list-view.arrowsHidden .scroll-bar .decrement-arrow,
.list-view.arrowsHidden .scroll-bar .decrement-button,
.list-view.arrowsHidden .scroll-bar .decrement-button {
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-padding: 0px;
}

.list-view.bigScroll .scroll-bar:vertical {
    -fx-pref-width: 8px;
}
.list-view.bigScroll .scroll-bar:horizontal {
     -fx-pref-height: 8px;
 }

.list-view.striped .list-cell:even:filled {
    -fx-background-color: -surface-elevation-2-color;
}

/*---------- Ingame/History -----------*/

.list-view.history {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-view.history .list-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 10;
}

.list-view.history .list-cell:filled:hover {
    -fx-background-color: transparent, rgba(255, 255, 255, 0.51);
}

.list-view.history  .list-cell:selected:filled {
    -fx-border-width: 0 0 0 10;
    -fx-border-style: solid;
    -fx-border-color: transparent transparent, transparent, -primary-background-color;
}

/*------------------ListView-Additionals------------------*/

.list-view .thumb {
    -fx-background-radius: 0px;
    -fx-background-color: -default-border-color;
}

.list-view .track {

}

/*------------------ScrollPane------------------*/

.scroll-pane.default,
.scroll-pane.default * {
    -fx-fit-to-width: true;
    -fx-background-color: transparent;
}

.scroll-pane.invisible,
.scroll-pane.invisible * {
    -fx-fit-to-width: true;
    -fx-background-color: -root-background-color;
}

.scroll-pane.default .thumb {
    -fx-background-color: -surface-elevation-color;
    -fx-opacity: 13%;
}

.scroll-pane.invisible .thumb {
    -fx-background-color: transparent;
}

.scroll-pane.default .scroll-bar,
.scroll-pane.invisible .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane.default .track,
.scroll-pane.invisible .track {

}

/*------------------ScrollPane-De/Increment------------------*/

.scroll-pane.default .scroll-bar .increment-button,
.scroll-pane.default .scroll-bar .decrement-button,
.scroll-pane.invisible .scroll-bar .increment-button,
.scroll-pane.invisible .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.scroll-pane.default .scroll-bar .increment-button:hover,
.scroll-pane.default .scroll-bar .decrement-button:hover,
.scroll-pane.invisible .scroll-bar .increment-button:hover,
.scroll-pane.invisible .scroll-bar .decrement-button:hover{
    -fx-background-color: transparent;
}


.scroll-pane.default .scroll-bar .increment-button:hover .increment-arrow,
.scroll-pane.default .scroll-bar .decrement-button:hover .decrement-arrow {
    -fx-stroke: 3px;
    -fx-background-color: -default-border-color;
    -fx-effect: none;
}

.scroll-pane.default  .scroll-bar .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-stroke: 3px;
    -fx-background-color: -default-border-color;
    -fx-effect: none;
}
.scroll-pane.default  .scroll-bar .decrement-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-stroke: 3px;
    -fx-background-color: -default-border-color;
    -fx-effect: none;
    -fx-rotate: -180;
}

/*----------------Modals--------------------*/

.modal-background {
    -fx-background-color: rgba(0,0,0,0.8);
}

.modal {
    -fx-padding: 10 10 10 10;
    -fx-background-color: -surface-elevation-8-color-abs;
    -fx-border-width: 2;
    -fx-border-color: -default-border-color;
}

.modal .cancel,
.modal .confirm {
    -fx-background-color: -primary-background-color;
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-effect: -shadow;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: -on-primary-fill;
}

.modal .cancel:hover,
.modal .confirm:hover {
    -fx-background-color: -primary-lighter-background-color;
    -fx-text-fill: -on-hovered-fill;
}

.modal .content {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: -on-primary-fill;
    -fx-alignment: center;
}

.modal .notification {
    -fx-min-width: 150;
    -fx-max-width: 300;
}

.scroll-pane.invisible .scroll-bar .increment-button:hover .increment-arrow,
.scroll-pane.invisible .scroll-bar .decrement-button:hover .decrement-arrow {
    -fx-stroke: 3px;
    -fx-background-color: transparent;
    -fx-effect: none;
}

.scroll-pane.invisible  .scroll-bar .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-stroke: 3px;
    -fx-background-color: transparent;
    -fx-effect: none;
}
.scroll-pane.invisible  .scroll-bar .decrement-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-stroke: 3px;
    -fx-background-color: transparent;
    -fx-effect: none;
    -fx-rotate: -180;
}

.default.text-field {
    -fx-padding: 5 5 5 5;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-effect: -shadow;
    -fx-alignment: center;
    -fx-background-color: -surface-elevation-8-color;
    -fx-font-size: 16;
    -fx-pref-width: 330;
    -fx-text-fill: -on-secondary-fill;
}

.status-indicator {
    -fx-fill: -secondary-background-color;
}

.status-indicator:disabled {
    -fx-fill: -on-disabled-fill;
}

/*----------------ComboBox--------------------*/

.combo-box-base {
    -fx-background-insets: none;
    -fx-effect: -shadow;
}

.combo-box,
.combo-box * {
    -fx-border-radius: 0;
    -fx-background-color: -primary-background-color;
    -fx-font-size: 16;
}

.combo-box .list-cell {
    -fx-text-fill: -on-primary-fill;
}

.combo-box:hover > .list-cell,
.combo-box:hover .arrow-button
{
    -fx-background-color: -primary-lighter-background-color;
    -fx-text-fill: -on-hovered-fill;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: -primary-lighter-background-color;
    -fx-text-fill: -on-hovered-fill;
}

.combo-box .arrow-button {
    -fx-background-radius: 0;
}

.combo-box .arrow {
    -fx-background-color: -on-primary-fill;
}

.combo-box:hover .arrow {
    -fx-background-color: -on-hovered-fill;
}