/*
 * @author Keanu Stückrad
 *
 * Dark-Theme Stylesheet
 *
 * Info for Usage: Use the class selector to import it on an special node in fxml.
 *
 * Background-Colors:
 *
 * Background: Dark Grey #121212
 * Surface: Dark Grey with 3dp White Overlay #1F1B24
 * Surface Overlay: Dark Purple #332940
 * Primary: Purple #BB86FC
 * Secondary: Teal #03DAC5
 * Error: Pale Violet Red Variant #CF6679
 *
 * On-Colors (for texts and icons, etc.):
 *
 * On background: White #FFFFFF
 * On Surface: White #FFFFFF
 * On Surface Overlay: White #FFFFFF
 * On Primary: Black #000000
 * On Secondary: Black #000000
 * On Error: Black #000000
 *
 * Opacity for importance of texts/backgrounds:
 *
 * High-emphasis text: 87%
 * Medium-emphasis text: 60%
 * Disabled text: 38% and Background: 12%
 * Hovered: 80%
 * Focused: 60%
 *
 */

/* All Nodes */
* {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.elevation-0 {
    -fx-background-color: white;
    -fx-opacity: 0%;
}

.elevation-2 {
    -fx-background-color: white;
    -fx-opacity: 7%;
}

.elevation-4 {
    -fx-background-color: white;
    -fx-opacity: 9%;
}

.elevation-6 {
    -fx-background-color: white;
    -fx-opacity: 11%;
}

/* Background-Color */
.root-background-color {
    -fx-background-color: #121212;
}

.surface-background-color {
    -fx-background-color: #1F1B24;
}

.surface-overlay-background-color {
    -fx-background-color: #332940;
}

.primary-background-color {
    -fx-background-color: #BB86FC;
}

.secondary-background-color {
    -fx-background-color: #03DAC5;
}

.error-background-color {
    -fx-background-color: #CF6679;
}

/* On-Colors + Opacity */
.high-black-text-fill {
    -fx-text-fill: rgba(0, 0, 0, 0.87);
}

.medium-black-text-fill {
    -fx-text-fill: rgba(0, 0, 0, 0.6);
}

.primary-background-color:disabled, .secondary-background-color:disabled {
    -fx-text-fill: rgba(0, 0, 0, 0.38);
    -fx-opacity: 0.12;
}

.high-white-text-fill {
    -fx-text-fill: rgba(255, 255, 255, 0.87);
}

.medium-white-text-fill {
    -fx-text-fill: rgba(255, 255, 255, 0.6);
}

.surface-overlay-background-color:disabled {
    -fx-text-fill: rgba(255, 255, 255, 0.38);
    -fx-opacity: 0.12;
}

/* Additional Styling */
.body-font {
    -fx-font-family: SansSerif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.header-font {
    -fx-font-family: 'Black';
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.border {
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

.floating-shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0.2, 0, 0);
}

.progress-color {
    -fx-progress-color: #BB86FC;
}

/* Hovered */
.primary-background-color:hover, .secondary-background-color:hover {
    -fx-opacity: 0.8;
}

/* Focused */
.surface-overlay-background-color:focused {
    -fx-opacity: 0.6;
}

/* Additional Fonts */
@font-face {
    font-family: 'Black';
    src: url("/de/uniks/se19/team_g/project_rbsg/login/Fonts/black.ttf") format("truetype");
}

.button.primary {
    -fx-background-color: #8858C8;
}

.button.primary:hover {
    -fx-background-color: #BB86FC;
}

.list-view.default {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0.2, 0, 0);
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0;
}

.list-view.default:focused {
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0.2, 0, 0);
}

/*LIST CELL STYLE*/
.list-view.default > .list-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-opacity: 0.8;
}

.list-view.default > .list-cell:empty:hover{
    -fx-background-color: transparent;
}

.list-view.default > .list-cell:hover {
    -fx-background-color: #BB86FC;
    -fx-opacity: 1;
}

.list-view.default > .list-cell.selected {
    -fx-background-color: #8858C8;
}
/*LIST CELL STYLE*/

/*LISTVIEW SCROLLBAR STYLE*/

.list-view.default .scroll-bar {
    -fx-background-color: transparent;
}

/*DECREMENT AND INCREMENT BUTTON STYLE*/
.list-view.default .scroll-bar .increment-button,
.list-view.default .scroll-bar.decrement-button{
    -fx-background-color: transparent;
}

.list-view.default .scroll-bar .increment-button:hover,
.list-view.default .scroll-bar .decrement-button:hover{
    -fx-background-color: transparent;
}


.list-view .scroll-bar .increment-button:hover .increment-arrow,
.list-view .scroll-bar.decrement-button:hover .decrement-arrow{
    -fx-stroke: 3px;
    -fx-background-color: #FFFFFF;
    -fx-effect: none;
}

.list-view  .scroll-bar .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-stroke: 3px;
    -fx-background-color: #FFFFFF;
    -fx-effect: none;
}
.list-view  .scroll-bar .decrement-arrow
{
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-stroke: 3px;
    -fx-background-color: #FFFFFF;
    -fx-effect: none;
    -fx-rotate: -180;
}
/*DECREMENT BUTTONS STYLE*/

.list-view .thumb {
    -fx-background-radius: 0px;
    -fx-background-color: #FFFFFF;
}

.list-view .track {

}

/*Button icons*/
.button.rally-troops {
    -fx-content-display: right;
    -fx-graphic-text-gap: 10px;
}
.button.rally-troops:hover {
    -fx-content-display: right;
    -fx-graphic-text-gap: 10px;
}
